<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,     log4net" />
  
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="VoronoiMap.Properties.ImageSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
          <section name="VoronoiMap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <log4net>
    <appender name="DebugAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/log-" />
      <datePattern value="MM.dd.yyyy'.log'" />
      <staticLogFileName value="false" />
      <appendToFile value="false" />
      <maxSizeRollBackups value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - %-5level %logger-%line %newline	%message%newline"    />
      </layout>
    </appender>
    <root>
      <priority value="ALL" />
      <appender-ref ref="DebugAppender" />
    </root>
  </log4net>
<userSettings>
        <VoronoiMap.Properties.ImageSettings>
                <setting name="ImageFileName" serializeAs="String">
                        <value />
                </setting>
                <setting name="JsonFileName" serializeAs="String">
                        <value />
                </setting>
                <setting name="OutputFileName" serializeAs="String">
                        <value />
                </setting>
                <setting name="NPoints" serializeAs="String">
                        <value />
                </setting>
                <setting name="Left" serializeAs="String">
                        <value />
                </setting>
                <setting name="Right" serializeAs="String">
                        <value />
                </setting>
                <setting name="Top" serializeAs="String">
                        <value />
                </setting>
                <setting name="Bottom" serializeAs="String">
                        <value />
                </setting>
                <setting name="MarginH" serializeAs="String">
                        <value />
                </setting>
                <setting name="MarginV" serializeAs="String">
                        <value />
                </setting>
                <setting name="Random" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="LatScaling" serializeAs="String">
                        <value>False</value>
                </setting>
        </VoronoiMap.Properties.ImageSettings>
        <VoronoiMap.Properties.Settings>
                <setting name="Seed" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="NumRegions" serializeAs="String">
                        <value>50</value>
                </setting>
                <setting name="Relax" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="ShowSites" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="ShowVertices" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="ShowEdges" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="ShowNumbers" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="UseFile" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="Debug" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="ShowBeachLine" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="ShowCircleEvents" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="LastFileName" serializeAs="String">
                        <value />
                </setting>
        </VoronoiMap.Properties.Settings>
    </userSettings>
</configuration>
